<mat-sidenav-container fullscreen>
    <mat-sidenav class="fondo-menu" #sidenav>
        <mat-toolbar class="color-empresa-fondo color-empresa-letra" (click)="sidenav.toggle()">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button><mat-icon>menu</mat-icon></button>
        </mat-toolbar>

        <mat-nav-list>
            <ul class="list-group pointer">
                <li *ngFor="let item of templateMenu" 
                    class="list-group-item  fondo-menu" 
                    (click)="sidenav.toggle()"
                    [routerLink]="[item.ruta]"
                    routerLinkActive="active" >
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <span class="texto-menu">{{ item.texto }}</span>
                </li>
            </ul>
        </mat-nav-list>
    </mat-sidenav>

    <mat-toolbar class="color-empresa-fondo color-empresa-letra fijar-menu">
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <img src="./assets/img/logo.png" (click)="sidenav.toggle()" class="logo" alt="logo">
        <span class="spacer"></span>
        <span class="material-icons"> person </span>
        <span class="mx-2"> {{ auth.us_nombres }} Gerste Gomez </span>
        <button mat-icon-button matTooltip="Cerrar Sessión" (click)="logout()"><mat-icon>logout</mat-icon></button>
    </mat-toolbar>

    <div class="container-fluid" style="padding-top: 80px;">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>